<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/html">

<body>
<th:block th:fragment="productListItem">
    <div class="card bg-base-100 shadow-xl">
        <a th:href="@{|/product/${product.id}|}" class="block">
            <figure>
                <svg width="200" height="200" th:data-jdenticon-value="${product.jdenticon}"></svg>
            </figure>
        </a>
        <div class="card-body">
            <h2 class="card-title flex flex-wrap">
                <a th:href="@{|/product/${product.id}|}" class="mr-auto">
                    <i class="fa-solid fa-book-open"></i>
                    <span th:text="${product.subject}"></span>
                </a>
                <div class="flex">
                    <svg width="20" height="20" th:data-jdenticon-value="${product.author.jdenticon}"></svg>
                    <div th:text="${product.author.name}"></div>
                </div>
            </h2>
            <div th:text="|￦ ${@ut.nf(product.salePrice)}|"></div>
            <div th:utext="${product.extra_productTagLinks}"></div>
            <div class="flex justify-end">
                <div class="badge badge-outline">
                    <i class="fa-solid fa-pen"></i>
                    <span class="ml-2"
                          th:text="${#temporals.format(product.createDate, 'yy-MM-dd HH:mm')}"></span>
                </div>
            </div>
            <div th:if="${product.createDate != product.modifyDate}" class="flex justify-end">
                <div class="badge">
                    <i class="fa-solid fa-eraser"></i>
                    <span class="ml-2"
                          th:text="${#temporals.format(product.modifyDate, 'yy-MM-dd HH:mm')}"></span>lear
                </div>
            </div>
            <div class="card-actions justify-end">
                <form method="post" th:action="@{|/cart/add/${product.id}|}">
                    <button th:if="${@rq.isLogined()}" class="btn gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" /></svg>
                        장바구니
                    </button>
                </form>
                <form th:action="@{|/product/${product.id}|}">
                    <button class="btn gap-2">
                        <i class="fa-solid fa-eye"></i>
                        <span class="ml-2">보기</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</th:block>
</body>

</html>
