<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>프로파일</title>
</head>

<body>
<section>
    <div class="container">
        <h1>프로파일</h1>
        <div>이메일 : <span th:text="${#authentication.principal.email}"></span></div>
        <div>닉네임 : <span th:if="${#authentication.principal.nickname} != null" th:text="${#authentication.principal.nickname}"></span></div>
        <div class="my-3">
            <a th:href="@{|/member/modify|}" class="btn btn-sm btn-outline-secondary"
               th:text="수정"></a>
        </div>
    </div>
</section>
</body>
</html>